* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color: blue;
    --border-width: 2px;
    --border-style: solid;
    --border: var(--border-width) var(--border-style) var(--color);
    --padding-tablerow: 10px;
    --font-size: 12px;
    --line-height: var(--font-size);
}

body {
    font-size: var(--font-size);

    color: var(--color);
    vertical-align: middle;
    font-family: 'Inter', sans-serif;

}

main {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    margin: 0 auto;
}

header {
    padding: calc(2 * var(--padding-tablerow));
    border: var(--border);
    border-bottom: none;
}

grid {
    display: block;
    position: relative;
}

h1 {
    color: transparent;
    height: 60px;
    width: 100%;
    background: url(image/logo.svg)top left no-repeat;
    background-size: contain;
}

.inline-block {
    display: inline-block;
}

.padding {
    padding: var(--padding-tablerow);
}

.arrow:before {
    content: "➜";
    font-weight: normal;
}

.columns {
    display: grid;
    grid-template-columns: 185px calc(2 * var(--padding-tablerow) + var(--font-size)) 1fr calc(2 * var(--padding-tablerow) + var(--font-size));
    grid-auto-flow: row;
    border-top: var(--border);
}



.tablerow {
    display: block;
    padding: 0;
    min-height: 0;
    line-height: 0px;
    padding: var(--padding-tablerow);
    border-bottom: var(--border);
    height: calc(2 * var(--padding-tablerow) + var(--font-size));
    overflow: hidden;
    line-height: var(--line-height);
    border-right: var(--border);
}

.description .tablerow {
    padding: var(--padding-tablerow) 0;
    text-align: center;
}

.info .tablerow {
    border-left: var(--border);
    font-weight: bold;
}

.description .tablerow {
    font-weight: bold;
}

.player .tablerow {
    text-align: center;
    border-right: var(--border);
}

.tablerow.no-padding {
    padding: 0;
}

.tablerow.no-border {
    border-right: none;
}

.tablerow.border-top {
    border-top: var(--border);
}

.tablerow input,
.tablerow select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 0;
    text-align: center;
    color: var(--color);
    background: white !important;
}

.tablerow select {
    -webkit-appearance: none;
    appearance: none;
    text-align-last: center;

}

.tablerow select option {
    text-align: center;
    width: 100%;
}

.tablerow.no-padding input {
    padding: var(--padding-tablerow);
}

.tablerow.separator-small {
    padding: 0;
    height: 5px;
}

.tablerow.separator-big {
    padding: 0;
    height: 20px;
    border: none;
}

.tablerow input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: calc(50% - 10px);
    margin-top: 3px;
    border: var(--border);
}

.done .tablerow {
    overflow: hidden;
    position: relative;
}

.done .tablerow input[type="checkbox"] {
    margin-left: 3px;
    border: none;
    text-align: center;
}

.done .tablerow input[type="checkbox"]:before {
    content: "";
    width: 50px;
    margin-left: -24px;
    height: var(--border-width);
    background: var(--color);
    position: absolute;
    transform: rotate(45deg);
    opacity: 0;
}

.done .tablerow input[type="checkbox"]:after {
    content: "";
    width: 50px;
    margin-left: -22px;
    height: var(--border-width);
    background: var(--color);
    position: absolute;
    transform: rotate(-45deg);
    opacity: 0;
}

.done .tablerow input[type="checkbox"]:checked:after,
.done .tablerow input[type="checkbox"]:checked:before {
    opacity: 1;
}

.tablerow input[type="checkbox"]:checked {
    background: transparent;
}

.player .tablerow input[type="checkbox"]:checked {
    background: var(--color) !important;
}

input::placeholder {
    color: rgb(190, 190, 255);
}

.dice {
    width: 20px;
    height: 20px;
    background-size: contain;
    border: var(--border);
    border-radius: 6px;
    display: inline-block;
    margin-top: calc(-0.5 * var(--padding-tablerow));
    margin-left: calc(-0.5 * var(--padding-tablerow));
    margin-right: calc(0.5 * var(--padding-tablerow));
}

.dice.einser {
    background: url(image/dice-einser.svg);
}

.dice.zweier {
    background: url(image/dice-zweier.svg);
}

.dice.dreier {
    background: url(image/dice-dreier.svg);
}

.dice.vierer {
    background: url(image/dice-vierer.svg);
}

.dice.fuenfer {
    background: url(image/dice-fuenfer.svg);
}

.dice.sechser {
    background: url(image/dice-sechser.svg);
}

.info-tooltip {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color);
    color: white;
    margin: 0 auto;
    margin-top: -3px;
}


.info-tooltip:before {
    content: "i";
    line-height: 15px;
    vertical-align: middle;
}

.tippy-box[data-theme~='kiffel'] {
    background-color: var(--color);
    color: white;
}

.tippy-box[data-theme~='kiffel'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--color);
}

.tippy-box[data-theme~='kiffel'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: var(--color);
}

.tippy-box[data-theme~='kiffel'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: var(--color);
}

.tippy-box[data-theme~='kiffel'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: var(--color);
}

footer {
    padding-top: 30px;
    text-align: center;
}

footer a {
    color: inherit;
    background: white;
    text-decoration: none;
    border: 1px solid currentColor;
    padding: 0 5px;
    border-radius: 20px;
}

footer a:hover {
    color: white;
    background: var(--color);
    border-color: var(--color);
}