@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: rgb(29, 78, 216);
  --dice-size: 20px;
  --border: 2px solid var(--color-black);
}

* {
  @apply text-blue-700 m-0 p-0;
 
}

body {
  @apply text-xs;
}

header {
  @apply bg-white z-10 p-2 w-full flex flex-nowrap border-blue-700 border-2;
}

main {
  @apply p-9;
}

.kniffel-logo {
  height: 50px;
  width: 170px;
  background: url(/logo.svg);
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.tablerow {
  @apply h-[26px] border-l-2 border-b-2 border-blue-700 align-middle;
  line-height: 26px;
  padding: 0 4px;
  box-sizing: border-box;
}

.tablerow.separator {
  height: 15px;
  border-left: none;
}

.tablerow.separator-small {
  height: 4px;
}

.column.player .tablerow {
  @apply p-0 text-center font-bold;
}

.column.name .tablerow {
  @apply font-bold;
}

.tablerow input {
  @apply w-full h-full text-center;
}

.tablerow input:not(:placeholder-shown) {background: rgb(177, 255, 177);}
.tablerow input:placeholder-shown {background: #ffe0e0;}

.column:last-of-type .tablerow {
  @apply border-r-2 border-blue-700;
}


dice {
  border-radius: 5px;
  border: var(--border);
  width: var(--dice-size);
  height: var(--dice-size);
  display: inline-block;
  margin-top: 2px;
  margin-right: 2px;
  background-size: contain !important;
}

dice.einser {
  background: url(/dice-einser.svg);
}

dice.zweier {
  background: url(/dice-zweier.svg);
}

dice.dreier {
  background: url(/dice-dreier.svg);
}

dice.vierer {
  background: url(/dice-vierer.svg);
}

dice.fuenfer {
  background: url(/dice-fuenfer.svg);
}

dice.sechser {
  background: url(/dice-sechser.svg);
}

footer {
  @apply bg-white z-10 p-2 w-full flex flex-nowrap border-blue-700 border-2;
}